<div class="mdl-card  mdl-shadow--2dp"  style="width: 100%;">
  <span>
    <div class="mdl-card__title stock-card" [ngClass]="{increase: isPositive(), decrease: isNegative()}">
      <h4 style="color: #fff; margin: 0">
        {{stock?.companySymbol?.toUpperCase()}}<br />
        {{stock?.lastTradePriceOnly | currency:'USD':'symbol':'.2'}}<br />
        {{stock?.change | currency:'USD':'symbol':'.2'}} ({{stock?.changeInPercent | percent:'.2'}})
      </h4>
    </div>
    <!-- <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
    </div> -->
     <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"  (click)="showDetails()" >
        More
        </a>
    </div>
  </span>
</div>
